.selectItemTypeButton{
    width: 105px;
    height: 60px;
    font-size: 15px;
    font-weight: bold;
}

.selectItemTypeButtonRow{ 
display: flex;        /* 横並びにする */
flex-wrap: wrap;
gap: 40px;
row-gap: 20px;
position: relative;
top: 80px;
margin: 0 auto;
width: calc(105px * 5 + 40px * 4);
}

.arrayItemData{
    position: relative;
    top: 110px;
}